{% set title = "Все баннеры" %} {% set
bodyClass = "is-banners" %} {% extends "html/layouts/default.html" %} {% block
content %}


<!-- Легковые шины -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/model-tyre-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/model-tyre-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/model-tyre-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/model-tyre-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Легковые шины</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/model-tyre-banner-mobile-tyres.png"
        />
        <img
          class="banner-tyres banner-tyres__img"
          src="../../assets/img/model-tyre-banner-tyres.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Грузовые шины -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/truck-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/truck-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/truck-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/truck-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Грузовые шины</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/truck-banner-mobile-tyres.png"
        />
        <img
          class="banner-tyres banner-tyres__truck"
          src="../../assets/img/truck-banner-tyres.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Сельхоз шины -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/agro-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/agro-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/agro-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/agro-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Сельхоз шины</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/agro-banner-mobile-tyres.png"
        />
        <img
          class="banner-tyres banner-tyres__agro"
          src="../../assets/img/agro-banner-tyres.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Шины для спецтехники -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/special-tyre-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/special-tyre-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/special-tyre-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/special-tyre-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Шины для спецтехники</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/special-tyre-banner-mobile-tyres.png"
        />
        <img
          class="banner-tyres banner-tyres__special-tyre"
          src="../../assets/img/special-tyre-banner-tyres.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Шины для мототехники -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/moto-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/moto-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/moto-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/moto-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Шины для мототехники</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/moto-banner-mobile-tyres.png"
        />
        <img
          class="banner-tyres banner-tyres__moto"
          src="../../assets/img/moto-banner-tyres.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Диски -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/model-disk-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/model-disk-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/model-disk-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/model-disk-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Диски</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/model-disk-banner-disk-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__disk"
          src="../../assets/img/model-disk-banner-disk.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Аккумуляторы -->
<section class="main-banner-section main-banner-section--small">
  <!-- <a href="/" class="new-store">
      <img
        width="61"
        height="297"
        src="../../assets/img/img-53.png"
        alt="Новый магазин">
    </a> -->
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Аккумуляторы</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-accumulator-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__accumulator"
          src="../../assets/img/other-banner-accumulator.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Масла -->

<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Масла</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-oil-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__oil"
          src="../../assets/img/other-banner-oil.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>


<!-- Электроника -->

<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Электроника</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-electronics-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__electronics"
          src="../../assets/img/other-banner-electronics.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>


<!-- Аксессуары -->

<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Автоаксессуары</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-accessories-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__accessories"
          src="../../assets/img/other-banner-accessories.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>


<!-- Инструменты -->

<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Инструменты</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-tool-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__tool"
          src="../../assets/img/other-banner-tool.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Лампы -->
<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Лампы</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-lamp-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__lamp"
          src="../../assets/img/other-banner-lamp.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>

<!-- Крепеж дисков -->
<section class="main-banner-section main-banner-section--small">
  <!-- <a href="/" class="new-store">
      <img
        width="61"
        height="297"
        src="../../assets/img/img-53.png"
        alt="Новый магазин">
    </a> -->
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/other-banner-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/other-banner-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/other-banner-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/other-banner.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">Крепеж дисков</h1>
        <!-- <h3  class="main-banner-info__sub-title">
            Шины, акб, масла, диски и камеры,
            шиномонтаж, бесплатное хранение
          </h3>
          <a href="/" class="button main-banner-info__button">
            подобрать
          </a> -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-nuts-mobile.png"
        />
        <img
          class="banner-tyres banner-tyres__nuts"
          src="../../assets/img/other-banner-nuts.png"
          alt="Сервис"
        />
      </picture>
    </div>
  </div>
</section>


<!-- О компании -->

<section class="main-banner-section main-banner-section--small">
  <div class="container-fluid">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 767.9px)"
        srcset="../../assets/img/banner-about-mobile.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1023.9px)"
        srcset="../../assets/img/banner-about-table.jpg"
      />
      <source
        type="image/webp"
        media="(max-width: 1139.9px)"
        srcset="../../assets/img/banner-about-middle.jpg"
      />
      <img
        class="main-banner-section__bg"
        src="../../assets/img/banner-about.jpg"
        alt="Сервис"
      />
    </picture>
    <div class="container-fluid">
      <div class="container">
        <div class="main-banner-navigation">
          <a href="/" class="main-banner-navigation__logo">
            <img
              src="../../assets/img/img-46.svg"
              width="257"
              height="30"
              alt="Протектор57"
            />
          </a>

          <div class="main-banner-navigation__search">
            <div class="search-area">
              <form class="search">
                <input
                  type="text"
                  class="search__input"
                  value=""
                  placeholder="Поиск"
                />
                <button class="button search__button" type="submit">
                  <img src="../../assets/img/img-40.svg" alt="Найти" />
                </button>
              </form>
            </div>
          </div>
          <div class="main-banner-navigation__cart main-banner-cart">
            <img
              class="main-banner-cart__image"
              src="../../assets/img/img-47.svg"
              alt="Корзина"
              width="42"
              height="42"
            />
            <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
            <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
          </div>
          <div class="main-banner-cart-mobile">
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-50.svg" alt="Поиск" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-51.svg" alt="Звонок" />
            </a>
            <a href="/" class="main-banner-cart-mobile__link">
              <img src="../../assets/img/img-52.svg" alt="Корзина" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-banner-info main-banner-info--small">
        <h1 class="main-banner-info__title-small">О компании</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <!-- <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/model-tyre-banner-mobile-tyres.png"
        />
        <img
          class="banner-tyres banner-tyres__img"
          src="../../assets/img /model-tyre-banner-tyres.png"
          alt="Сервис"
        />
      </picture> -->
    </div>
  </div>
</section>

 {% endblock %}
