{% set title = "ГАЙКА КОЛЕСНАЯ 14Х1.50X20 С19 СФЕРА ОТКРЫТАЯ BANTAJ" %}
{% set bodyClass = "is-card-tyre" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="main-banner-section main-banner-section--small">
    <!-- <a href="/" class="new-store">
        <img
          width="61"
          height="297"
          src="../../assets/img/img-53.png"
          alt="Новый магазин">
      </a> -->
    <div class="container-fluid">
      <picture>
        <source
          type="image/webp"
          media="(max-width: 767.9px)"
          srcset="../../assets/img/other-banner-mobile.jpg"
        />
        <source
          type="image/webp"
          media="(max-width: 1023.9px)"
          srcset="../../assets/img/other-banner-table.jpg"
        />
        <source
          type="image/webp"
          media="(max-width: 1139.9px)"
          srcset="../../assets/img/other-banner-middle.jpg"
        />
        <img
          class="main-banner-section__bg"
          src="../../assets/img/other-banner.jpg"
          alt="Сервис"
        />
      </picture>
      <div class="container-fluid">
        <div class="container">
          <div class="main-banner-navigation">
            <a href="/" class="main-banner-navigation__logo">
              <img
                src="../../assets/img/img-46.svg"
                width="257"
                height="30"
                alt="Протектор57"
              />
            </a>
  
            <div class="main-banner-navigation__search">
              <div class="search-area">
                <form class="search">
                  <input
                    type="text"
                    class="search__input"
                    value=""
                    placeholder="Поиск"
                  />
                  <button class="button search__button" type="submit">
                    <img src="../../assets/img/img-40.svg" alt="Найти" />
                  </button>
                </form>
              </div>
            </div>
            <div class="main-banner-navigation__cart main-banner-cart">
              <img
                class="main-banner-cart__image"
                src="../../assets/img/img-47.svg"
                alt="Корзина"
                width="42"
                height="42"
              />
              <div class="main-banner-cart__count"><strong>2 </strong>товара</div>
              <div class="main-banner-cart__price"><strong>12 345 </strong>₽</div>
            </div>
            <div class="main-banner-cart-mobile">
              <a href="/" class="main-banner-cart-mobile__link">
                <img src="../../assets/img/img-50.svg" alt="Поиск" />
              </a>
              <a href="/" class="main-banner-cart-mobile__link">
                <img src="../../assets/img/img-51.svg" alt="Звонок" />
              </a>
              <a href="/" class="main-banner-cart-mobile__link">
                <img src="../../assets/img/img-52.svg" alt="Корзина" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="main-banner-info main-banner-info--small">
          <h1 class="main-banner-info__title-small">Крепеж дисков</h1>
          <!-- <h3  class="main-banner-info__sub-title">
              Шины, акб, масла, диски и камеры,
              шиномонтаж, бесплатное хранение
            </h3>
            <a href="/" class="button main-banner-info__button">
              подобрать
            </a> -->
        </div>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="container">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767.9px)"
            srcset="../../assets/img/other-banner-nuts-mobile.png"
          />
          <img
            class="banner-tyres banner-tyres__nuts"
            src="../../assets/img/other-banner-nuts.png"
            alt="Сервис"
          />
        </picture>
      </div>
    </div>
  </section>
<section class="card-tyre-section ">

    <div class="container-fluid">
        <div class="card-tyre-section__container">
            <div class="container">
                <div class="card-tyre-body">
                    {% include "html/includes/breadcrumbs.html" %}
                    <div class="card-tyre-area">
                        <h1 class="card-tyre-area__title">
                            ГАЙКА КОЛЕСНАЯ 14Х1.50X20 С19 СФЕРА ОТКРЫТАЯ BANTAJ
                        </h1>
                        <div class="card-tyre__block">
                            <div class="card-tyre">
                                <div class="card-tyre__image-block">
                                    <img
                                            width="280"
                                            height="280"
                                            class="card-tyre__image"
                                            src="../../assets/img/no-image.svg"
                                            alt="">
                                    <button class="button card-tyre__zoom">
                                        <img src="../../assets/img/img-21.svg" alt="Zoom">
                                    </button>
                                </div>


                                <div class="card-tyre__body">
                                    <ul class="card-tyre-list">

                                        <li class="card-tyre-item">
                                            <div class="card-tyre-item__left">
                      <span class="card-tyre-item__left-text">
                        Артикул
                      </span>
                                            </div>
                                            <div class="card-tyre-item__right">
                      <span class="card-tyre-item__right-text card-tyre-item__right-text--red">
                         S130939
                      </span>
                                            </div>
                                        </li>
                                        <li class="card-tyre-item">
                                            <div class="card-tyre-item__left">
                      <span class="card-tyre-item__left-text">
                        Бренд
                      </span>
                                            </div>
                                            <div class="card-tyre-item__right">
                      <span class="card-tyre-item__right-text">
                        BANTAJ
                      </span>
                                            </div>
                                        </li>
                                        <li class="card-tyre-item">
                                            <div class="card-tyre-item__left">
                      <span class="card-tyre-item__left-text">
                       тип товра
                      </span>
                                            </div>
                                            <div class="card-tyre-item__right">
                      <span class="card-tyre-item__right-text">
                       Гайка колесная
                      </span>
                                            </div>
                                        </li>


                                        <!-- <li class="card-tyre-item">
                                            <div class="card-tyre-item__link-wrapper">
                                                <a href="#" class="card-tyre-item__link">
                                                    Нашли дешевле?
                                                </a>
                                            </div>
                                        </li> -->


                                        <li class="card-tyre-item card-tyre-item--other">
                                            <div class="card-tyre-item__left card-tyre-item__left--other">

                                                <div class="card-tyre__info-item">
                                                    <div class="model-tyre-grid__item-img-block">
                                                        <img
                                                                class="model-tyre-grid__item-img"
                                                                src="./assets/img/img-56.svg"
                                                                alt="">
                                                    </div>
                                                    <p class="card-tyre__info-text">
                                                        Товар
                                                        <br>сертифицирован
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card-tyre-item__right">
                                                <div class="card-tyre__info-item">
                                                    <div class="model-tyre-grid__item-img-block">
                                                        <img
                                                                class="model-tyre-grid__item-img"
                                                                src="./assets/img/img-58.svg"
                                                                alt="">
                                                    </div>
                                                    <p class="card-tyre__info-text">
                                                        Гарантия
                                                    </p>
                                                </div>
                                            </div>
                                        </li>


<!--                                        <li>-->
<!--                                            <div class="card-tyre__info card-tyre__info&#45;&#45;other">-->
<!--                                                <div class="card-tyre__info-block">-->
<!--                                                    <div class="card-tyre__info-item">-->
<!--                                                        <div class="model-tyre-grid__item-img-block">-->
<!--                                                            <img-->
<!--                                                                    class="model-tyre-grid__item-img"-->
<!--                                                                    src="./assets/img/img-58.svg"-->
<!--                                                                    alt="">-->
<!--                                                        </div>-->
<!--                                                        <p class="card-tyre__info-text">-->
<!--                                                            Гарантия-->
<!--                                                        </p>-->
<!--                                                    </div>-->
<!--                                                    <div class="card-tyre__info-item">-->
<!--                                                        <div class="model-tyre-grid__item-img-block">-->
<!--                                                            <img-->
<!--                                                                    class="model-tyre-grid__item-img"-->
<!--                                                                    src="./assets/img/img-56.svg"-->
<!--                                                                    alt="">-->
<!--                                                        </div>-->
<!--                                                        <p class="card-tyre__info-text">-->
<!--                                                            Товар-->
<!--                                                            <br>сертифицирован-->
<!--                                                        </p>-->
<!--                                                    </div>-->


<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                    </ul>
                                    <div class="card-tyre-cart">
                                        <div class="card-tyre-cart__body">
                                            <div class="card-tyre-cart__title-wrapper">
                                                <p class="card-tyre-cart__title">
                                                    Добавить в корзину
                                                </p>
                                            </div>
                                            <ul class="card-tyre-cart__list">

                                                <li class="card-tyre-cart__item">
                                                    <div class="card-tyre-cart__left">
                                                      <span class="card-tyre-cart__left-text">
                                                        Цена
                                                      </span>
                                                    </div>
                                                    <div class="card-tyre-item__right">
                                                  <span class="card-tyre-cart__right-text">
                                                     10 200  <span> ₽</span>
                                                  </span>
                                                    </div>
                                                </li>

                                                <li class="card-tyre-cart__item">
                                                    <div class="card-tyre-cart__left">
                                                      <span class="card-tyre-cart__left-text">
                                                        Количество
                                                      </span>
                                                    </div>
                                                    <div class="card-tyre-item__right">
                                                        <div class="count">
                                                            <button class="button count__button count__button--dec">
                                                                <span>-</span>
                                                            </button>
                                                            <input type="text" class="count__input" value="0">
                                                            <button class="button count__button count__button--inc">
                                                                <span>+</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="card-tyre-cart__item">
                                                    <div class="card-tyre-cart__left">
                                                      <span class="card-tyre-cart__left-text">
                                                       Итого
                                                      </span>
                                                    </div>
                                                    <div class="card-tyre-item__right">
                                                  <span class="card-tyre-cart__right-text card-tyre-cart__right-text--red">
                                                     10 200 <span> ₽</span>
                                                  </span>
                                                    </div>
                                                </li>

                                                <li class="card-tyre-cart__item card-tyre-cart__item--center card-tyre-cart__item--order">
                                                    <div class="card-tyre-cart__availability-wrapper">
                                                        <div class="card-tyre-cart__availability-icon">
                                                            <img src="../../assets/img/green-check.png" alt=""
                                                                 class="card-tyre-cart__availability-img">
                                                        </div>
                                                        <div class="card-tyre-cart__availability">
                                                            <p class="card-tyre-cart__availability-text">
                                                                В наличии
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <!--                                                    <div class="card-tyre-cart__availability-wrapper">-->
                                                    <!--                                                        <div class="card-tyre-cart__availability-icon">-->
                                                    <!--                                                            <img src="../../assets/img/order.svg" alt=""-->
                                                    <!--                                                                 class="card-tyre-cart__availability-img">-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                        <div class="card-tyre-cart__availability">-->
                                                    <!--                                                            <p class="card-tyre-cart__availability-text">-->
                                                    <!--                                                                Под заказ-->
                                                    <!--                                                            </p>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->

                                                </li>
                                                <li class="card-tyre-cart__item card-tyre-cart__item--center">
                                                    <button class="button button__red card-tyre-cart__btn">
                                                        В корзину
                                                    </button>
                                                </li>
                                                <li class="card-tyre-cart__item card-tyre-cart__item--center">
                                                    <a href="" class="card-tyre-cart__link">
                                                        Заказ в 1 клик
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>

{% include "html/includes/swiper-viewed.html" %}

{% endblock %}
