{% set title = "404" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="error">

    <div class="container-fluid error__container">
        <div class="container">
            <div class="error__content">
                <img src="./assets/img/img-46.svg" alt="">
                <p class="error__404">404</p>
                <p class="error__title">Страница не найдена</p>
                <p class="error__text">
                    Неправильно набран адрес<br>
                    или такой страницы не существует.
                </p>
                <button class="error__btn button__blue">
                    вернуться на сайт
                </button>
            </div>








        </div>
    </div>


</section>







{% endblock %}